@media (max-width: 480px) {
    .contact-container {
        padding: 80px 20px 60px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.4;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}

@media only screen and (min-width: 481px)
and (max-width: 767px){
    .contact-container {
        padding: 80px 20px 60px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.4;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}

@media (min-width: 768px) and (max-width: 1024px)
and (orientation: landscape) {
    .contact-container {
        padding: 80px 20px 60px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.4;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}

@media (min-width: 768px)
and (max-width: 1023px) {
    .contact-container {
        padding: 80px 190px 80px 50px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: .01em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.6;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}

@media (min-width: 1024px)
and (max-width: 1280px) {
    .contact-container {
        padding: 80px 460px 80px 100px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: .01em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.6;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}

@media (min-width: 1281px) {
    .contact-container {
        padding: 80px 460px 80px 100px;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .contact-container h1 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: .01em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container p {
        color: #ccc;
        line-height: 1.6;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }

    .contact-container strong {
        color: #fff;
    }

    .social-links {
        display: flex;
        flex-flow: row wrap;
    }

    .social-links a {
        color: #F17C1C;
        margin: 25px 25px 0 0;
        letter-spacing: .02em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
    }
}