html {
    box-sizing: content-box;
    color: #fff;
    width: 100%;
    background-color: #000;
    background: url("./images/background-image-full.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Ariel, sans-serif;
}

a, ul {
    color: #fff;
    list-style: none;
    text-decoration: none;
}
