@media (max-width: 480px) {
    .title {
        padding: 80px 20px 40px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        font-size: 45px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        color: #f4f4f4;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }

    /* Project 1 section */
    .project-1 {
        padding: 20px;
        background-color: #141e24;
    }

    .project-1 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-1 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-1 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-1 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 2 section */
    .project-2 {
        padding: 20px;
        background-color: #2f2f2f;
    }

    .project-2 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-2 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-2 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-2 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 3 section */
    .project-3 {
        padding: 20px;
        background-color: #07142d;
    }

    .project-3 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-3 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-3 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-3 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 4 section */
    .project-4 {
        padding: 20px;
        background-color: #211d1d;
    }

    .project-4 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-4 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-4 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-4 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 5 section */
    .project-5 {
        padding: 20px;
        background-color: #18011d;
    }

    .project-5 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-5 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-5 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-5 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }
}

@media only screen and (min-width: 481px)
and (max-width: 767px){
    .title {
        padding: 80px 20px 40px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        font-size: 45px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        color: #f4f4f4;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }

    /* Project 1 section */
    .project-1 {
        padding: 20px;
        background-color: #141e24;
    }

    .project-1 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-1 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-1 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-1 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 2 section */
    .project-2 {
        padding: 20px;
        background-color: #2f2f2f;
    }

    .project-2 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-2 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-2 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-2 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 3 section */
    .project-3 {
        padding: 20px;
        background-color: #07142d;
    }

    .project-3 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-3 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-3 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-3 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 4 section */
    .project-4 {
        padding: 20px;
        background-color: #211d1d;
    }

    .project-4 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-4 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-4 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-4 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 5 section */
    .project-5 {
        padding: 20px;
        background-color: #18011d;
    }

    .project-5 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-5 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-5 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-5 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px)
and (orientation: landscape) {
    .title {
        padding: 80px 20px 40px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        font-size: 45px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        color: #f4f4f4;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }

    /* Project 1 section */
    .project-1 {
        padding: 20px;
        background-color: #141e24;
    }

    .project-1 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-1 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-1 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-1 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 2 section */
    .project-2 {
        padding: 20px;
        background-color: #2f2f2f;
    }

    .project-2 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-2 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-2 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-2 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 3 section */
    .project-3 {
        padding: 20px;
        background-color: #07142d;
    }

    .project-3 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-3 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-3 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-3 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 4 section */
    .project-4 {
        padding: 20px;
        background-color: #211d1d;
    }

    .project-4 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-4 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-4 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-4 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Project 5 section */
    .project-5 {
        padding: 20px;
        background-color: #18011d;
    }

    .project-5 img {
        width: 100%;
        height: 200px;
        margin: 30px 0 0;
    }

    .project-5 h3 {
        font-size: 21px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-5 p {
        line-height: 1.1;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-5 h4 {
        color: #F17C1C;
        font-weight: 400;
        margin: 30px 0;
    }
}

@media (min-width: 768px)
and (max-width: 1023px) {
    .title {
        padding: 135px 192px 150px 50px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        letter-spacing: .01em;
        line-height: 1.1;
        font-size: 64px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: #ccc;
    }

    /* Project 1 section */
    .project-1 {
        padding: 60px;
        background-color: #141e24;
    }

    .project-1 img {
        width: 100%;
        height: 338px;
        margin: 30px 0 0;
    }

    .project-1 h3 {
        font-size: 28px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-1 p {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-1 h4 {
        color: #F17C1C;
        font-weight: 300;
        margin: 30px 0;
        font-size: 20px;
    }

    /* Project 2 section */
    .project-2 {
        padding: 60px;
        background-color: #2f2f2f;
    }

    .project-2 img {
        width: 100%;
        height: 338px;
        margin: 30px 0 0;
    }

    .project-2 h3 {
        font-size: 28px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-2 p {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-2 h4 {
        color: #F17C1C;
        font-weight: 300;
        margin: 30px 0;
        font-size: 20px;
    }

    /* Project 3 section */
    .project-3 {
        padding: 60px;
        background-color: #07142d;
    }

    .project-3 img {
        width: 100%;
        height: 338px;
        margin: 30px 0 0;
    }

    .project-3 h3 {
        font-size: 28px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-3 p {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-3 h4 {
        color: #F17C1C;
        font-weight: 300;
        margin: 30px 0;
        font-size: 20px;
    }

    /* Project 4 section */
    .project-4 {
        padding: 60px;
        background-color: #211d1d;
    }

    .project-4 img {
        width: 100%;
        height: 338px;
        margin: 30px 0 0;
    }

    .project-4 h3 {
        font-size: 28px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-4 p {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-4 h4 {
        color: #F17C1C;
        font-weight: 300;
        margin: 30px 0;
        font-size: 20px;
    }

    /* Project 5 section */
    .project-5 {
        padding: 60px;
        background-color: #18011d;
    }

    .project-5 img {
        width: 100%;
        height: 338px;
        margin: 30px 0 0;
    }

    .project-5 h3 {
        font-size: 28px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    .project-5 p {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #ccc;
        margin: 20px 0;
    }

    .project-5 h4 {
        color: #F17C1C;
        font-weight: 300;
        margin: 30px 0;
        font-size: 20px;
    }
}

@media (min-width: 1024px)
and (max-width: 1280px) {
    .title {
        padding: 135px 192px 150px 50px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        letter-spacing: .01em;
        line-height: 1.1;
        font-size: 64px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        color: #ccc;
    }

    /* Project 1 section */
    .project-1 {
        padding: 100px;
        background-color: #141e24;
        display: flex;
    }

    .project-1-image {
        width: 700px;
        height: 240px;
    }

    .project-1 img {
        width: 100%;
        height: 100%;
    }

    .project-1-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-1-info h3 {
        margin: 20px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-1-info > p {
        margin: 20px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-1-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    /* Project 2 section */
    .project-2 {
        padding: 100px;
        background-color: #2f2f2f;
        display: flex;
    }

    .project-2-image {
        width: 700px;
        height: 240px;
    }

    .project-2 img {
        width: 100%;
        height: 100%;
    }

    .project-2-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-2-info h3 {
        margin: 20px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-2-info > p {
        margin: 20px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-2-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    /* Project 3 section */
    .project-3 {
        padding: 100px;
        background-color: #07142d;
        display: flex;
    }

    .project-3-image {
        width: 700px;
        height: 240px;
    }

    .project-3 img {
        width: 100%;
        height: 100%;
    }

    .project-3-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-3-info h3 {
        margin: 20px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-3-info > p {
        margin: 20px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-3-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    /* Project 4 section */
    .project-4 {
        padding: 100px;
        background-color: #211d1d;
        display: flex;
    }

    .project-4-image {
        width: 700px;
        height: 240px;
    }

    .project-4 img {
        width: 100%;
        height: 100%;
    }

    .project-4-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-4-info h3 {
        margin: 20px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-4-info > p {
        margin: 20px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-4-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    /* Project 5 section */
    .project-5 {
        padding: 100px;
        background-color: #18011d;
        display: flex;
    }

    .project-5-image {
        width: 700px;
        height: 240px;
    }

    .project-5 img {
        width: 100%;
        height: 100%;
    }

    .project-5-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-5-info h3 {
        margin: 20px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-5-info > p {
        margin: 20px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-5-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }
}

@media (min-width: 1281px) {
    .title {
        padding: 135px 500px 150px 50px;
        background-image: url("../../images/background-image-full.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .title h1 {
        margin: 0;
        letter-spacing: .01em;
        line-height: 1.1;
        font-size: 64px;
    }

    .title p {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        color: #ccc;
    }

    /* Project 1 section */
    .project-1 {
        padding: 200px 300px;
        background-color: #141e24;
        display: flex;
    }

    .project-1-image {
        width: 825px;
        height: 305px;
    }

    .project-1-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-1-info h3 {
        margin: 34px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-1-info > p {
        margin: 35px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-1-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    .project-1 img {
        width: 100%;
        height: 100%;
    }

    /* Project 2 section */
    .project-2 {
        padding: 200px 300px;
        background-color: #2f2f2f;
        display: flex;
    }

    .project-2-image {
        width: 825px;
        height: 305px;
    }

    .project-2-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-2-info h3 {
        margin: 34px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-2-info > p {
        margin: 35px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-2-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    .project-2 img {
        width: 100%;
        height: 100%;
    }

    /* Project 3 section */
    .project-3 {
        padding: 200px 300px;
        background-color: #07142d;
        display: flex;
    }

    .project-3-image {
        width: 825px;
        height: 305px;
    }

    .project-3-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-3-info h3 {
        margin: 34px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-3-info > p {
        margin: 35px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-3-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    .project-3 img {
        width: 100%;
        height: 100%;
    }

    /* Project 4 section */
    .project-4 {
        padding: 200px 300px;
        background-color: #211d1d;
        display: flex;
    }

    .project-4-image {
        width: 825px;
        height: 305px;
    }

    .project-4-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-4-info h3 {
        margin: 34px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-4-info > p {
        margin: 35px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-4-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    .project-4 img {
        width: 100%;
        height: 100%;
    }

    /* Project 5 section */
    .project-5 {
        padding: 200px 300px;
        background-color: #18011d;
        display: flex;
    }

    .project-5-image {
        width: 825px;
        height: 305px;
    }

    .project-5-info {
        border-top: 1px solid #474747;
        border-right: 1px solid #474747;
        border-bottom: 1px solid #474747;
    }

    .project-5-info h3 {
        margin: 34px 65px;
        font-size: 30px;
        letter-spacing: .01em;
        font-weight: 600;
        text-decoration: underline;
    }

    div.project-5-info > p {
        margin: 35px 65px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        color: #ccc;
    }

    .project-5-info a h4 {
        margin: 0 65px;
        color: #F17C1C;
        font-weight: 300;
        font-size: 20px;
    }

    .project-5 img {
        width: 100%;
        height: 100%;
    }
}